<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Estados y Municipios (AJAX + Django)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{% static 'municipios/css/estilos.css' %}">
</head>
<body>
    <header></header>
    <h1>SELECCIONA ESTADO Y MUNICIPIO</h1>
    <div class="navbar-logo">
        <img src="{% static 'municipios/images/bandera.jpeg' %}" alt="Bandera">
    </div>

    <label for="estado-select">Estado:</label>
    <select id="estado-select">
        <option value="">- Selecciona un estado -</option>
        {% for estado in estados %}
            <option value="{{ estado.id }}">{{ estado.nombre }}</option>
        {% endfor %}
    </select>
    
    <br/><br/>

    <label for="municipio-select">Municipio:</label>
    <select id="municipio-select" disabled>
        <option value="">- Primero selecciona un estado -</option>
    </select>

    <footer></footer>
    <script src="{% static 'municipios/js/municipios.js' %}"></script>
</body>
</html>
